<h1>Kontakt</h1>
<form action="/kontakt-data" method="post">
    <div>
        <label for="firstname">Imię</label>
        <input type="text" name="firstname" id="firstname">
    </div>
    <div>
        <label for="lastname">Nazwisko</label>
        <input type="text" name="lastname" id="lastname">
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="message">Wiadomość</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <input type="submit" value="Wyślij"/>
</form>